<div class="flex w-full min-h-[95vh] bg-customBackground overflow-hidden">
    <div
        class="max-w-7xl mx-auto flex flex-col-reverse md:flex-row justify-between items-center w-full px-4 py-8 pt-12 md:py-12">
        <div class="w-full md:w-1/2 flex flex-col space-y-6 text-center md:text-left mb-8 md:mb-0">
            <h1 class="text-3xl md:text-5xl lg:text-6xl font-bold leading-tight animate-fadeIn">
                <span class="whitespace-nowrap">Get the best deals on our</span>
                <span class="text-secondary font-extrabold block mt-2 animate-pulse whitespace-nowrap">Bitez Menu</span>
            </h1>
            <p class="text-gray-600 text-lg md:text-xl max-w-lg mx-auto md:mx-0">
                Discover mouthwatering dishes at unbeatable prices. Fresh, delicious,
                and delivered to your doorstep.
            </p>
            <div class="flex justify-center md:justify-start space-x-4">
                <button
                    class="bg-secondary text-white px-8 py-3 rounded-lg text-lg font-semibold transform transition-all duration-300 hover:scale-105 hover:shadow-lg hover:bg-customBackgroundBG active:scale-95">
                    Shop Now
                </button>
                <button
                    class="border-2 border-secondary text-secondary px-8 py-3 rounded-lg text-lg font-semibold transform transition-all duration-300 hover:bg-secondary hover:text-white active:scale-95">
                    View Menu
                </button>
            </div>
        </div>
        <div class="w-full md:w-1/2 flex justify-center md:justify-end">
            <img src="/BannerImage.png" alt="Delicious Food"
                class="object-contain w-full max-w-lg transform transition-all duration-500  animate-float" />
        </div>
    </div>
</div>