.card-container {
    transform: translateY(0);
    transition: transform 0.3s ease;
}

.card-container:hover {
    transform: translateY(-5px);
}

.pattern-dots {
    background-image: radial-gradient(currentColor 2px, transparent 2px);
    background-size: calc(10 * 2px) calc(10 * 2px);
}
