@media print {
  button {
    display: none !important;
  }

  .shadow-md {
    box-shadow: none !important;
  }
  
  .container {
    max-width: 100% !important;
    padding: 0 !important;
  }
  
  body {
    font-size: 12pt;
  }
  
  table {
    width: 100% !important;
  }
}
