<div class="min-h-screen bg-secondary flex items-center justify-center relative ">
    <img src="/Bitez.png" alt="" class=" min-h-screen contrast-[120%]">
    <div class="absolute font-bold top-[53%] md:top-[50%] transl to flex flex-col items-center justify-center gap-5">
        <div class="text-6xl text-white [text-shadow:_2px_2px_2px_#000,_-1px_-1px_1px_#ffffff]">Bitez</div>
        <p class="max-md:hidden text-xs max-w-xl max-auto text-center text-white [text-shadow:_1px_1px_1px_#000,_-0.5px_-0.5px_0.5px_#ffffff]">
            Welcome to Bitez, where passion meets flavor in every bite! Our commitment to authentic Biryani and fast food craftsmanship sets us apart. Using premium ingredients, traditional recipes, and modern cooking techniques, we deliver mouthwatering dishes that keep you coming back.
        </p>
    </div>
</div>